# PROJET - ESCOBADDICTIONS
## 8PRO408 – Outils de programmation pour la science des données
### Auteurs : Andonin COUSSEAU / Etienne CHEVROLLIER / Khassan TASSOUEV / Damien BALLET

--------

## Etude 3 - Evolution du taux de mortalité causé par les drogues

[Lien Kaggle](https://www.kaggle.com/datasets/imdevskp/world-population-19602018)

------------

In [1]:
import pandas as pd

df = pd.read_csv('')

       Country Name  Year     Count
0             Aruba  1960     54211
1       Afghanistan  1960   8996973
2            Angola  1960   5454933
3           Albania  1960   1608800
4           Andorra  1960     13411
...             ...   ...       ...
12590        Kosovo  2017   1830700
12591   Yemen, Rep.  2017  27834821
12592  South Africa  2017  57000451
12593        Zambia  2017  16853688
12594      Zimbabwe  2017  14236745

[12595 rows x 3 columns]