# PROJET - ESCOBADDICTIONS
## 8PRO408 – Outils de programmation pour la science des données
### Auteurs : Andonin COUSSEAU / Etienne CHEVROLLIER / Khassan TASSOUEV / Damien BALLET

--------

## Etude 4

[Lien WorldBank](https://data.worldbank.org/indicator/VC.IHR.PSRC.MA.P5)

------------

In [85]:
import pandas as pd

df = pd.read_csv('data_cts_prisons_and_prisoners.csv')
df

,Iso3_code,Country,Region,Subregion,Indicator,Dimension,Category,Sex,Age,Year,Unit of measurement,VALUE,Source
0,BRB,Barbados,Americas,Latin America and the Caribbean,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,0,CTS
1,CRI,Costa Rica,Americas,Latin America and the Caribbean,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,173,CTS
2,DMA,Dominica,Americas,Latin America and the Caribbean,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,65,CTS
3,GBR_NI,United Kingdom (Northern Ireland),Europe,Northern Europe,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,61,CTS
4,ITA,Italy,Europe,Southern Europe,Persons entering prison,by selected crime,Intentional Homicide,Total,Total,2016,Counts,1443,CTS
...,...,...,...,...,...,...,...,...,...,...,...,...,...
65792,ZWE,Zimbabwe,Africa,Sub-Saharan Africa,Persons held,Total,Total,Female,Total,2008,Rate per 100 000 population,7 336135476,CTS
65793,ZWE,Zimbabwe,Africa,Sub-Saharan Africa,Persons held,Total,Total,Female,Total,2017,Rate per 100 000 population,6 081579848,CTS
65794,ZWE,Zimbabwe,Africa,Sub-Saharan Africa,Persons held,Total,Total,Female,Total,2018,Rate per 100 000 population,4 431232203,CTS
65795,ZWE,Zimbabwe,Africa,Sub-Saharan Africa,Persons held,Total,Total,Female,Total,2019,Rate per 100 000 population,5 540085721,CTS
65796,ZWE,Zimbabwe,Africa,Sub-Saharan Africa,Persons held,Total,Total,Female,Total,2020,Rate per 100 000 population,4 454129796,CTS

In [86]:
selected_columns = ['Country', 'Indicator','Category','Unit of measurement', 'Year', 'VALUE']
df_selected = df[selected_columns]
condition1 = df_selected['Category'] == 'Drug Trafficking'
condition2 = df_selected['Indicator'] == 'Persons entering prison'
condition3 = df_selected['Unit of measurement'] == 'Counts'

# Filtrage du DataFrame
filtered_df = df_selected[condition1 & condition2 & condition3 ]

filtered_df

,Country,Indicator,Category,Unit of measurement,Year,VALUE
454,Barbados,Persons entering prison,Drug Trafficking,Counts,2016,3
455,Costa Rica,Persons entering prison,Drug Trafficking,Counts,2016,203
456,Dominica,Persons entering prison,Drug Trafficking,Counts,2016,0
457,United Kingdom (Northern Ireland),Persons entering prison,Drug Trafficking,Counts,2016,3047
458,Honduras,Persons entering prison,Drug Trafficking,Counts,2016,87
...,...,...,...,...,...,...
599,Mongolia,Persons entering prison,Drug Trafficking,Counts,2021,7
600,Norway,Persons entering prison,Drug Trafficking,Counts,2021,1396
601,New Zealand,Persons entering prison,Drug Trafficking,Counts,2021,1060
602,Serbia,Persons entering prison,Drug Trafficking,Counts,2021,701
603,Sweden,Persons entering prison,Drug Trafficking,Counts,2021,253

In [87]:
#dataframe sur le personne qui vont en prison pour trafique de drogue par pays et par année.
dfTrafique = filtered_df .pivot_table(index=['Country'], columns='Year', values='VALUE')

display(dfTrafique)

Year,2016,2017,2018,2019,2020,2021
Country,,,,,,
Antigua and Barbuda,NaN,NaN,1.0,2.0,0.0,NaN
Bahamas,NaN,NaN,NaN,0.0,0.0,NaN
Barbados,3.0,14.0,1.0,33.0,8.0,14.0
Belize,NaN,NaN,95.0,107.0,41.0,NaN
Bermuda,NaN,31.0,19.0,15.0,NaN,NaN
Bolivia (Plurinational State of),NaN,NaN,2662.0,NaN,NaN,NaN
Chile,NaN,4916.0,7220.0,7081.0,5419.0,6954.0
China Hong Kong Special Administrative Region,NaN,NaN,1680.0,1490.0,1048.0,1389.0
China Macao Special Administrative Region,9.0,8.0,115.0,132.0,79.0,56.0
Colombia,NaN,NaN,NaN,13209.0,2400.0,3561.0
Costa Rica,203.0,204.0,NaN,NaN,NaN,NaN
Czechia,NaN,NaN,NaN,NaN,NaN,2410.0
Dominica,0.0,0.0,3.0,11.0,12.0,NaN
Dominican Republic,NaN,NaN,NaN,923.0,1458.0,NaN
El Salvador,NaN,NaN,NaN,0.0,NaN,NaN
France,NaN,NaN,NaN,14578.0,13476.0,15688.0
Greece,NaN,NaN,1645.0,1556.0,1288.0,1246.0
Grenada,NaN,29.0,NaN,54.0,27.0,18.0
Guyana,NaN,83.0,NaN,176.0,88.0,NaN
Honduras,87.0,94.0,NaN,NaN,NaN,NaN
Hungary,NaN,NaN,468.0,557.0,NaN,NaN
Iraq (Central Iraq),NaN,NaN,NaN,15.0,23.0,NaN
Italy,13783.0,14616.0,14556.0,NaN,NaN,10824.0
Jamaica,NaN,NaN,NaN,57.0,24.0,22.0
Kosovo under UNSCR 1244,NaN,NaN,99.0,NaN,NaN,NaN
Lithuania,0.0,0.0,0.0,0.0,0.0,0.0
Luxembourg,NaN,152.0,187.0,NaN,NaN,NaN
Malta,NaN,66.0,41.0,48.0,49.0,36.0
Mexico,16145.0,11108.0,12980.0,14375.0,16857.0,14196.0
Mongolia,NaN,NaN,1.0,NaN,8.0,7.0
New Zealand,627.0,512.0,437.0,432.0,1286.0,1060.0
Nicaragua,NaN,NaN,506.0,842.0,NaN,NaN
North Macedonia,NaN,505.0,NaN,NaN,NaN,NaN
Norway,1897.0,1790.0,1727.0,1461.0,1336.0,1396.0
Peru,NaN,NaN,1830.0,2905.0,1871.0,NaN
Philippines,NaN,1555.0,1745.0,NaN,NaN,NaN
Romania,579.0,NaN,NaN,NaN,NaN,NaN
Saint Lucia,NaN,NaN,NaN,0.0,0.0,0.0
Serbia,814.0,848.0,772.0,799.0,724.0,701.0
Suriname,NaN,NaN,NaN,NaN,2.0,NaN
Sweden,285.0,297.0,258.0,313.0,227.0,253.0
Switzerland,NaN,886.0,711.0,888.0,815.0,624.0
Thailand,NaN,NaN,NaN,207081.0,201796.0,NaN
Trinidad and Tobago,NaN,NaN,NaN,368.0,155.0,NaN
United Kingdom (England and Wales),NaN,6490.0,6023.0,NaN,NaN,NaN
United Kingdom (Northern Ireland),3047.0,205.0,256.0,NaN,214.0,NaN
United States of America,NaN,NaN,NaN,76100.0,NaN,NaN

In [88]:
df_selected2 = df[selected_columns]
condition1 = df_selected2['Category'] == 'Drug Possession'
condition2 = df_selected2['Indicator'] == 'Persons entering prison'
condition3 = df_selected2['Unit of measurement'] == 'Counts'

# Filtrage du DataFrame
filtered_df2 = df_selected2[condition1 & condition2 & condition3 ]

filtered_df2

,Country,Indicator,Category,Unit of measurement,Year,VALUE
320,Barbados,Persons entering prison,Drug Possession,Counts,2016,8
321,Costa Rica,Persons entering prison,Drug Possession,Counts,2016,345
322,Dominica,Persons entering prison,Drug Possession,Counts,2016,0
323,United Kingdom (Northern Ireland),Persons entering prison,Drug Possession,Counts,2016,4140
324,Honduras,Persons entering prison,Drug Possession,Counts,2016,87
...,...,...,...,...,...,...
449,Norway,Persons entering prison,Drug Possession,Counts,2021,11
450,New Zealand,Persons entering prison,Drug Possession,Counts,2021,34
451,Serbia,Persons entering prison,Drug Possession,Counts,2021,349
452,Suriname,Persons entering prison,Drug Possession,Counts,2021,12
453,Sweden,Persons entering prison,Drug Possession,Counts,2021,3044

In [89]:
#dataframe sur le personne qui vont en prison pour trafique de drogue par pays et par année.
dfPossession = filtered_df2 .pivot_table(index=['Country'], columns='Year', values='VALUE')

display(dfPossession)

Year,2016,2017,2018,2019,2020,2021
Country,,,,,,
Antigua and Barbuda,NaN,NaN,5.0,0.0,0.0,NaN
Bahamas,NaN,NaN,NaN,373.0,150.0,NaN
Barbados,8.0,110.0,13.0,57.0,48.0,18.0
Belize,NaN,NaN,79.0,106.0,61.0,NaN
Bermuda,NaN,8.0,8.0,7.0,NaN,NaN
Chile,NaN,359.0,296.0,55.0,125.0,124.0
China Hong Kong Special Administrative Region,NaN,NaN,1892.0,1094.0,881.0,1462.0
China Macao Special Administrative Region,30.0,15.0,20.0,14.0,14.0,3.0
Colombia,NaN,NaN,NaN,13209.0,6339.0,NaN
Costa Rica,345.0,455.0,NaN,NaN,NaN,NaN
Czechia,NaN,NaN,NaN,NaN,NaN,972.0
Dominica,0.0,0.0,14.0,30.0,12.0,NaN
Dominican Republic,NaN,NaN,NaN,1017.0,1551.0,NaN
El Salvador,NaN,NaN,NaN,3757.0,NaN,NaN
France,NaN,NaN,NaN,405.0,7153.0,7810.0
Grenada,NaN,80.0,NaN,35.0,23.0,8.0
Guyana,NaN,39.0,NaN,25.0,11.0,NaN
Honduras,87.0,94.0,NaN,NaN,NaN,NaN
Hungary,NaN,NaN,562.0,525.0,NaN,NaN
Iraq (Central Iraq),NaN,NaN,NaN,123.0,4399.0,7543.0
Jamaica,NaN,NaN,NaN,16.0,14.0,16.0
Kosovo under UNSCR 1244,NaN,NaN,54.0,NaN,NaN,NaN
Lithuania,509.0,403.0,588.0,385.0,331.0,377.0
Luxembourg,NaN,0.0,18.0,NaN,NaN,NaN
Malta,NaN,6.0,1.0,1.0,1.0,37.0
Mexico,6668.0,8538.0,9444.0,16258.0,10519.0,11438.0
Mongolia,NaN,NaN,56.0,NaN,203.0,102.0
New Zealand,834.0,60.0,49.0,667.0,50.0,34.0
Nicaragua,NaN,NaN,855.0,2581.0,NaN,NaN
Norway,118.0,61.0,43.0,40.0,14.0,11.0
Peru,NaN,5689.0,6031.0,NaN,NaN,NaN
Philippines,NaN,1493.0,862.0,NaN,NaN,NaN
Saint Lucia,NaN,NaN,NaN,61.0,30.0,9.0
Serbia,226.0,197.0,262.0,196.0,261.0,349.0
Suriname,NaN,NaN,NaN,NaN,52.0,12.0
Sweden,2145.0,2269.0,2639.0,2768.0,2819.0,3044.0
Thailand,NaN,NaN,NaN,24379.0,19838.0,NaN
Trinidad and Tobago,NaN,NaN,NaN,483.0,217.0,NaN
United Kingdom (England and Wales),NaN,488.0,409.0,NaN,NaN,NaN
United Kingdom (Northern Ireland),4140.0,93.0,135.0,NaN,77.0,NaN
United States of America,NaN,NaN,NaN,51900.0,NaN,NaN