# PROJET - ESCOBADDICTIONS
## 8PRO408 – Outils de programmation pour la science des données
### Auteurs : Andonin COUSSEAU / Etienne CHEVROLLIER / Khassan TASSOUEV / Damien BALLET

--------

## Etude 3 - Lien entre le taux de mort par cocaine et le taux de criminalité

[Lien WorldBank](https://data.worldbank.org/indicator/VC.IHR.PSRC.MA.P5)

------------

In [90]:
import pandas as pd

df = pd.read_csv('data/murder/API_VC.IHR.PSRC.MA.P5_DS2_en_csv_v2_5564733.csv', skiprows = 3, header = 0)

In [91]:
df = df.loc[:, ['Country Name', 'Country Code'] + list(df.loc[:, '1990':])]
df = df.rename(columns = {'Country Code' : 'Code', 'Country Name' : 'Entity'})
df.set_index("Code")

,Entity,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2014,2015,2016,2017,2018,2019,2020,2021,2022,Unnamed: 67
Code,,,,,,,,,,,,,,,,,,,,,
ABW,Aruba,0.000000,NaN,NaN,NaN,NaN,16.074801,NaN,NaN,NaN,...,4.065784,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFE,Africa Eastern and Southern,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AFG,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,18.511644,12.190030,12.282875,12.156260,NaN,NaN,NaN,NaN,NaN
AFW,Africa Western and Central,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AGO,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
XKX,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.846974,3.646005,3.434958,4.052007,4.103817,2.496205,3.481223,NaN,NaN,NaN
YEM,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZAF,South Africa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,59.730474,63.443761,65.598344,66.045214,NaN,NaN,NaN,NaN
ZMB,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ZWE,Zimbabwe,8.302435,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,8.058140,8.614504,8.584714,10.923036,NaN,NaN

In [92]:
df_2 = pd.read_csv('data/drogues/death-rates-cocaine.csv', header = 0)

In [93]:
df_2 = df_2.rename(columns={'Deaths - Cocaine use disorders - Sex: Both - Age: Age-standardized (Rate)' : 'Death_Cocaine'})

In [94]:
df_pivot = df_2 .pivot_table(index=['Code', 'Entity'], columns='Year', values='Death_Cocaine')
df_pivot = df_pivot.reset_index()
df_pivot.set_index('Code')

Year,Entity,1990,1991,1992,1993,1994,1995,1996,1997,1998,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Code,,,,,,,,,,,,,,,,,,,,,
AFG,Afghanistan,0.039427,0.039720,0.040313,0.041282,0.042203,0.042757,0.043227,0.043820,0.044234,...,0.052037,0.052579,0.053343,0.053865,0.054737,0.055858,0.056823,0.057970,0.058994,0.059789
AGO,Angola,0.015872,0.015988,0.016228,0.016562,0.016777,0.016468,0.015717,0.015577,0.016284,...,0.021239,0.022222,0.023306,0.024039,0.024339,0.025246,0.025873,0.027119,0.028209,0.028951
ALB,Albania,0.001465,0.002111,0.002464,0.003790,0.005654,0.007035,0.008206,0.008859,0.010921,...,0.015320,0.015727,0.016141,0.016713,0.017728,0.018758,0.019295,0.019808,0.020268,0.020728
AND,Andorra,0.009574,0.009798,0.009949,0.010001,0.009970,0.009865,0.009812,0.009767,0.009772,...,0.012056,0.011889,0.012121,0.012416,0.012826,0.013235,0.013464,0.013842,0.014121,0.014389
ARE,United Arab Emirates,0.199454,0.216925,0.236998,0.258539,0.280758,0.305722,0.330694,0.359268,0.384823,...,0.590011,0.599523,0.606297,0.620454,0.628419,0.636252,0.645846,0.653888,0.663690,0.672341
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
WSM,Samoa,0.020597,0.020981,0.021249,0.021144,0.021110,0.021145,0.021045,0.020981,0.020972,...,0.022048,0.022383,0.022772,0.022833,0.023251,0.023985,0.024716,0.025442,0.026143,0.026739
YEM,Yemen,0.022960,0.023134,0.023574,0.024046,0.024670,0.025532,0.026402,0.027332,0.028192,...,0.039946,0.041259,0.042043,0.043374,0.044008,0.045210,0.046383,0.047686,0.049215,0.049768
ZAF,South Africa,0.083247,0.085878,0.093194,0.085748,0.090242,0.092474,0.091607,0.104437,0.098355,...,0.045206,0.040890,0.038072,0.035562,0.033326,0.030968,0.027870,0.025959,0.023435,0.021839
ZMB,Zambia,0.013639,0.014431,0.015078,0.015738,0.016432,0.017229,0.017850,0.018352,0.018779,...,0.025329,0.026050,0.026260,0.026653,0.027110,0.027607,0.028272,0.029181,0.029760,0.030130
ZWE,Zimbabwe,0.085371,0.087328,0.092967,0.097901,0.104990,0.113264,0.118143,0.123240,0.126281,...,0.105789,0.108464,0.112786,0.118068,0.124809,0.133006,0.140110,0.146847,0.153208,0.159370

In [101]:
merged_df = pd.merge(df, df_pivot, on='Code')
merged_df = merged_df.drop(['Unnamed: 67','Entity_y'],axis=1)
correlation = merged_df.iloc[:, 2:].corr()

In [112]:
correlation.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
1990,1.000000,0.991881,0.989586,0.975823,0.964351,0.953817,0.963667,0.974843,0.972716,0.957955,...,0.104403,0.104354,0.104462,0.102065,0.091212,0.079325,0.071058,0.064441,0.060260,0.055684
1991,0.991881,1.000000,0.990560,0.982355,0.973043,0.953718,0.967082,0.971106,0.967962,0.962612,...,0.136684,0.132833,0.126730,0.118390,0.100983,0.082423,0.072838,0.065189,0.060536,0.055664
1992,0.989586,0.990560,1.000000,0.991938,0.984228,0.972189,0.971508,0.866058,0.946856,0.946135,...,0.129596,0.123550,0.114396,0.103649,0.086545,0.066806,0.056035,0.047538,0.042715,0.037374
1993,0.975823,0.982355,0.991938,1.000000,0.993681,0.985478,0.981199,0.878629,0.957549,0.959993,...,0.181192,0.171069,0.159139,0.144108,0.120905,0.093715,0.078974,0.067801,0.061886,0.055531
1994,0.964351,0.973043,0.984228,0.993681,1.000000,0.990165,0.988120,0.869315,0.953327,0.955196,...,0.217264,0.207494,0.196040,0.177066,0.151573,0.120056,0.102862,0.090074,0.083200,0.076137

In [113]:
correlation.to_csv('correlation_cocaine_crime.csv',decimal=',',header=True,index=False)