# PROJET - ESCOBADDICTIONS
## 8PRO408 – Outils de programmation pour la science des données
### Auteurs : Andonin COUSSEAU / Etienne CHEVROLLIER / Khassan TASSOUEV / Damien BALLET

## Etude 1 - Les morts par type de drogues aux Etats-Unis

In [5]:
import pandas as pd

# Chargement du fichier CSV Kaggle dans un DataFrame
df = pd.read_csv(".\\data\\drug_related_death_classification.csv")
display(df)

,Unnamed: 0,ID,Date,Age,Sex,Race,ResidenceCity,ResidenceCounty,ResidenceState,DeathCity,...,Benzodiazepine,Methadone,Amphet,Tramad,Morphine_NotHeroin,Hydromorphone,Other,OpiateNOS,AnyOpioid,MannerofDeath
0,0,14-0273,06/28/2014 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
1,1,13-0102,03/21/2013 12:00:00 AM,48.0,Male,Black,NORWALK,NaN,NaN,NORWALK,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
2,2,16-0165,03/13/2016 12:00:00 AM,30.0,Female,White,SANDY HOOK,FAIRFIELD,CT,DANBURY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
3,3,16-0208,03/31/2016 12:00:00 AM,23.0,Male,White,RYE,WESTCHESTER,NY,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident
4,4,13-0052,02/13/2013 12:00:00 AM,22.0,Male,"Asian, Other",FLUSHING,QUEENS,NaN,GREENWICH,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5100,5100,15-0466,09/08/2015 12:00:00 AM,43.0,Male,White,CHESHIRE,NEW HAVEN,CT,CHESHIRE,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
5101,5101,17-0618,07/22/2017 12:00:00 AM,21.0,Male,White,MADISON,NEW HAVEN,CT,NEW HAVEN,...,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
5102,5102,18-0646,08/14/2018 12:00:00 AM,30.0,Male,White,LAWRENCEVILLE,TIOGA,PA,DANBURY,...,NaN,NaN,NaN,Y,NaN,NaN,NaN,NaN,Y,Accident
5103,5103,14-0124,03/16/2014 12:00:00 AM,33.0,Male,White,HARTFORD,NaN,NaN,WINDSOR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Accident
5104,5104,16-0637,09/15/2016 12:00:00 AM,33.0,Male,White,THOMASTON,LITCHFIELD,CT,WATERBURY,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Accident

Traduction et récupération des données intéressantes

In [6]:
# Création de la base du DataFrame
df_morts_drogues = pd.DataFrame(columns=['age', 'sexe', 'lieu_deces', 'drogues_ingeres'])

df_morts_drogues['age'] = df['Age']
df_morts_drogues['sexe'] = df['Sex']
df_morts_drogues['lieu_deces'] = df['Location']

def recupere_drogues_ingeres(row):
    liste_drogues = [
        ('Heroin', 'Héroïne'),
        ('Cocaine', 'Cocaïne'),
        ('Fentanyl', 'Fentanyl'),
        ('FentanylAnalogue', 'Fentanyl Analogue'),
        ('Oxycodone', 'Oxycodone'),
        ('Oxymorphone', 'Oxymorphone'),
        ('Ethanol', 'Alcool'),
        ('Hydrocodone', 'Hydrocodone'),
        ('Benzodiazepine', 'Benzodiazépine'),
        ('Amphet', 'Amphétamine'),
        ('Tramad', 'Tramadol'),
        ('Morphine_NotHeroin', 'Morphine'),
        ('Hydromorphone', 'Hydromorphone'),
        ('Other', 'Autres'),
        ('OpiateNOS', 'Opiacé'),
        ('AnyOpioid', 'Opioïde')
    ]
    drogues = []
    for col in liste_drogues:
        if col[0] in df.columns and row[col[0]] == 'Y':
            drogues.append(col[1])
    return drogues

df_morts_drogues['drogues_ingeres'] = df.apply(recupere_drogues_ingeres, axis=1)

display(df_morts_drogues)

,age,sexe,lieu_deces,drogues_ingeres
0,NaN,NaN,NaN,"[Fentanyl, Hydrocodone, Benzodiazépine]"
1,48.0,Male,Hospital,[Cocaïne]
2,30.0,Female,Hospital,"[Héroïne, Cocaïne, Opioïde]"
3,23.0,Male,Hospital,"[Héroïne, Fentanyl, Opioïde]"
4,22.0,Male,Hospital,[Fentanyl]
...,...,...,...,...
5100,43.0,Male,Residence,"[Alcool, Benzodiazépine]"
5101,21.0,Male,Hospital,"[Héroïne, Benzodiazépine]"
5102,30.0,Male,Other,"[Héroïne, Fentanyl, Fentanyl Analogue, Tramado..."
5103,33.0,Male,Other,[Fentanyl]
5104,33.0,Male,Other,"[Héroïne, Opioïde]"

Exportation du DataFrame

In [8]:
# Exporter le dataframe en json
df_morts_drogues.to_json('.\\df_morts_par_drogue.json', orient='records')